@inject IViewLocalizer Localizer

<div class="mtmegamenu">
    <ul class="hidden-xs">
        <li class="mt-root">
            <div class="mt-root-item">
                <a href="/trang-chu.html">
                    <div class="title title_font">
                        <span class="title-text">@Localizer["HOME"]</span>
                    </div>
                </a>
            </div>
        </li>
        <li class="mt-root">
            <div class="mt-root-item">
                <a href="/gioi-thieu.html">
                    <div class="title title_font">
                        <span class="title-text">@Localizer["ABOUT"]</span>
                    </div>
                </a>
            </div>
        </li>
        <li class="mt-root">
            <div class="mt-root-item">
                <a href="/lien-he.html">
                    <div class="title title_font">
                        <span class="title-text">@Localizer["CONTACT"]</span>
                    </div>
                </a>
            </div>
        </li>
        <li class="mt-root">
            <div class="mt-root-item">
                <a href="/bai-viet.html">
                    <div class="title title_font">
                        <span class="title-text">@Localizer["BLOG"]</span>
                    </div>
                </a>
            </div>
        </li>
        <li class="clearfix"></li>
    </ul>
</div>