@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@section Styles {
    <style>
        #frame {
            width: 100%;
            height: 350px;
        }
    </style>
    <link href="~/lib/ckeditor/skins/moono/editor.css" rel="stylesheet" />
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title">Footer</h3>
            </div>
            <div class="content-header-right col-md-6 col-12">
                @if ((await AuthorizationService.AuthorizeAsync(User, "FOOTER", Operations.Create)).Succeeded)
                {
                    <button type="button" class="btn btn-success float-md-right" id="btnAddNew">
                        <i class="fa fa-plus"></i> Thêm mới
                    </button>
                }
            </div>
        </div>
        <div class="content-body">
            <!-- Responsive tables start -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-content collapse show">
                            <div class="table-responsive">
                                <table class="table table-hover table-responsive-md">
                                    <thead>
                                        <tr>
                                            <th style="width:5%;">#</th>
                                            <th style="width: 90%;">Nội dung</th>
                                            <th width="5%"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyContent"></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3">
                                                Hiển thị tổng số <strong id="lblTotalRecords"></strong> mục
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Responsive tables end -->
        </div>
    </div>
</div>

<script id="tbodyTemplate" type="x-tmpl-mustache">
    <tr>
        <th>{{NumberOrder}}</th>
        <td>{{{Content}}}</td>
        <td>
            <button type="button" class="btn btn btn-info dropdown-toggle mr-1 mb-1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Thao tác
            </button>
            <div class="dropdown-menu">
                @if ((await AuthorizationService.AuthorizeAsync(User, "FOOTER", Operations.Update)).Succeeded)
                {
                    <a class="dropdown-item btn-edit" href="#" data-id="{{Id}}">Sửa</a>
                }
                <a class="dropdown-item btn-preview" href="#" data-id="{{Id}}">Xem</a>
                @if ((await AuthorizationService.AuthorizeAsync(User, "FOOTER", Operations.Delete)).Succeeded)
                {
                    <a class="dropdown-item btn-delete" href="#" data-id="{{Id}}">Xóa</a>
                }
            </div>
        </td>
    </tr>
</script>

<partial name="_AddEditModalPartial" />
<partial name="_PreviewModalPartial" />

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="~/lib/mustache/mustache.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/admin-side/app/controllers/footer/index.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var footer = new footerController();
        footer.initialize();
    </script>
}

