@model RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký";
}

<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Trở về trang chủ" href="/trang-chu.html">Trang chủ</a><span>&raquo;</span></li>
                    <li><strong>Đăng ký</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col1-layout">
    <div class="main container">
        <div class="page-content">
            <div class="account-login">
                <div class="col-md-3 col-sm-2"></div>
                <div class="col-md-6 col-sm-8">
                    <div class="single-input p-bottom50 clearfix">
                        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="check-title">
                                        <h4>Khách hàng mới</h4>
                                    </div>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="col-xs-12 text-danger">
                                </div>
                                <div class="col-sm-6">
                                    <label asp-for="LastName"></label>
                                    <div class="input-text">
                                        <input asp-for="LastName" class="form-control" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label asp-for="FirstName"></label>
                                    <div class="input-text">
                                        <input asp-for="FirstName" class="form-control" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <label asp-for="Email"></label>
                                    <div class="input-text">
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <label asp-for="Password"></label>
                                    <div class="input-text">
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <label asp-for="ConfirmPassword"></label>
                                    <div class="input-text">
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <label asp-for="PhoneNumber">Phone:</label>
                                    <div class="input-text">
                                        <input asp-for="PhoneNumber" class="form-control" />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <label asp-for="Address"></label>
                                    <div class="input-text">
                                        <textarea asp-for="Address" class="form-control"></textarea>
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-md-offset-2 col-md-10">
                                        <recaptcha />
                                        <span class="text-danger" id="recaptchaErrorMessage"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="submit-text">
                                        <button type="submit" class="button">
                                            <i class="fa fa-user"></i>&nbsp; <span>Đăng ký</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
}